aiofiles
aiohttp[speedups]
beautifulsoup4
dnspython
ffmpeg-python
gitpython
hachoir
motor
Pillow
psutil
py-tgcalls
pykeyboard
kurigram==2.1.36
uvloop
python-dotenv
pyyaml
requests
spotipy
Tgcrypto
unidecode
yt-dlp
youtube-search
youtube-search-python
httpx[http2]==0.27.2
flask
flask_restful